.signOutButton {
  grid-column: "endCol";
  grid-row-start: "row1";
}

.welcomeBannerStyle {
  border: "solid 1px navy";
  display: "grid";
  grid-column-start: "col2";
  grid-column-end: "endCol";
  grid-row-start: "row2";
  height: "100%";
  width: "100%";
  justify-items: "center" /* Center horizontally */;
  place-items: "center";
}
