@media (max-width: 500px) {
  .layoutContainer {
    display: grid;
    width: 100%;
    height: 100%;
    /* auto cannot go at the end but has to go in between to fr units*/
    /* grid-template-columns: [col1] 1fr [col2] auto [endCol] 1fr */
    grid-template-rows: [frow] 25% [row2] auto [lrow] 25%;
    grid-template-columns: [col1] 1fr [col2] auto [endCol] 1fr;
  }
}
.layoutContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: [frow] 25% [row2] auto [lrow] 25%;
  grid-template-columns: [col1] 1fr [col2] auto [endCol] 1fr;
}

.navcontainer {
  display: flex;
  /* border: solid salmon; */
  grid-row-start: lrow;
  grid-row-end: lrow;
  grid-column-start: col2;
  grid-column-end: endCol;
  align-self: center; /* vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /*line height looks like */
}
