.titleDiv {
  grid-area: row1/ col1/ row1/ lastCol;
  justify-self: center;
  align-self: start;
}

.editMenu {
  display: flex;
  justify-content: space-evenly;
}

.responseDisplayContainer {
  grid-area: row2/ col1/ row2/ lastCol;
  align-self: center;
  overflow: scroll;
  max-height: 100%;
}
