body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}
/* div {
  height: 100%;
  width: 100%;
} */
#root {
  display: grid;
  grid-template-rows: [frow] 25% [row2] 65% [row3] auto[lrow];
  grid-template-columns: [col1] 33% [col2] 50% [col3] auto[endcol];
}
